<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.runtime.muleServerLaunchType">
<stringAttribute key="clear_data" value="NEVER"/>
<booleanAttribute key="consoleEnabled" value="true"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.2.2.ee"/>
<stringAttribute key="maven.command.line" value=""/>
<booleanAttribute key="maven.snapshot.updates" value="false"/>
<stringAttribute key="mule-agent-port" value="57961"/>
<listAttribute key="mule-project-names">
<listEntry value="aepi-medical-alert-pro-api"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ALLOW_TERMINATE" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aepi-medical-alert-pro-api"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Danypoint.platform.gatekeeper=disabled -DsecureKey=dSR4gP3ZYPxmQcFYEP"/>
<intAttribute key="remote-debug-max-stream-size" value="2"/>
<intAttribute key="remote-debug-port" value="6666"/>
<booleanAttribute key="remote-debug-suspend" value="false"/>
</launchConfiguration>
