<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.munit.launchconfig">
<stringAttribute key="clear_data" value="NEVER"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.3.0.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="aepi-medical-alert-sys-api"/>
</listAttribute>
<booleanAttribute key="munit_run" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="aepi-medical-alert-sys-api"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path="/>
<intAttribute key="remote-debug-max-stream-size" value="2"/>
<intAttribute key="remote-debug-port" value="6666"/>
<booleanAttribute key="remote-debug-suspend" value="true"/>
<booleanAttribute key="run_coverage" value="true"/>
<setAttribute key="test_names"/>
<setAttribute key="test_resources">
<setEntry value="notifications-main-test-suite.xml"/>
</setAttribute>
</launchConfiguration>
