<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.munit.launchconfig">
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.4.2.1.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="health-check-api-mule4"/>
</listAttribute>
<booleanAttribute key="munit_run" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="health-check-api-mule4"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path="/>
<booleanAttribute key="run_coverage" value="true"/>
<setAttribute key="test_names">
<setEntry value="mule-stats-flow-test"/>
</setAttribute>
<setAttribute key="test_resources">
<setEntry value="health-check-api-test-suite.xml"/>
</setAttribute>
</launchConfiguration>
