<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.maven.muleWithMavenLaunchType">
<listAttribute key="Mpath"/>
<stringAttribute key="Ppath" value="/Users/asapkota/AnypointStudio6/srs/srs-branch-system-api"/>
<stringAttribute key="clear_data" value="NEVER"/>
<booleanAttribute key="consoleEnabled" value="true"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.9.2.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="srs-domain"/>
<listEntry value="branch-system-api"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="branch-system-api"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Denv=dev -Dcrypto.key=UGo4GiH3gUOk96DK -Danypoint.platform.gatekeeper=disabled"/>
<intAttribute key="remote-debug-port" value="6666"/>
<booleanAttribute key="remote-debug-suspend" value="false"/>
</launchConfiguration>
