<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.munit.launchconfig">
<listAttribute key="Mpath">
<listEntry value="/Users/asapkota/AnypointStudio6/srs/new/srs-worldview-process-api/src/test/munit/business-logic-test-suite.xml"/>
</listAttribute>
<stringAttribute key="Ppath" value="/Users/asapkota/AnypointStudio6/srs/new/srs-worldview-process-api"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.9.2.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="worldview-process-api"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="business-logic-test-suite.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="worldview-process-api"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&#10;-DmunitProjectName=worldview-process-api"/>
<stringAttribute key="resource" value="business-logic-test-suite.xml"/>
</launchConfiguration>
