<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.munit.launchconfig">
<listAttribute key="Mpath">
<listEntry value="/Users/asapkota/AnypointStudio6/srs/srs-branch-system-api/src/test/munit/common_test_suite.xml"/>
</listAttribute>
<stringAttribute key="Ppath" value="/Users/asapkota/AnypointStudio6/srs/srs-branch-system-api"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.9.2.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="branch-system-api"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="common_test_suite.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="branch-system-api"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=&#10;-DmunitProjectName=branch-system-api"/>
<stringAttribute key="resource" value="common_test_suite.xml"/>
<stringAttribute key="test_name" value="TestCase_for_Exception_Strategy"/>
</launchConfiguration>
