<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.maven.muleWithMavenLaunchType">
<listAttribute key="Mpath"/>
<stringAttribute key="Ppath" value="/Users/asapkota/AnypointStudio6/srs/srs-products-system-api"/>
<stringAttribute key="clear_data" value="NEVER"/>
<booleanAttribute key="consoleEnabled" value="true"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.9.2.ee"/>
<stringAttribute key="listConflict" value="[- api.path (products-system-api , orders-process-api) &#10;, - crypto.key (products-system-api , orders-process-api) &#10;, - api.path (products-system-api , orders-process-api) &#10;, - crypto.key (products-system-api , orders-process-api) &#10;]"/>
<listAttribute key="mule-project-names">
<listEntry value="srs-domain"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="products-system-api"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Denv=dev -Dcrypto.key=UGo4GiH3gUOk96DK"/>
<intAttribute key="remote-debug-port" value="6666"/>
<booleanAttribute key="remote-debug-suspend" value="false"/>
<booleanAttribute key="runConflictArguments" value="false"/>
<booleanAttribute key="toogleState" value="false"/>
</launchConfiguration>
