<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.mule.tooling.maven.muleWithMavenLaunchType">
<listAttribute key="Mpath"/>
<stringAttribute key="Ppath" value="/Users/asapkota/AnypointStudio6/srs/new/srs-wv-service-endpoint-experience-api"/>
<stringAttribute key="launch_mule_server_version" value="org.mule.tooling.server.3.9.3.ee"/>
<listAttribute key="mule-project-names">
<listEntry value="wv-service-api"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="wv-service-api"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-XX:PermSize=128M -XX:MaxPermSize=256M"/>
</launchConfiguration>
